doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/css/style.css")
  body
    h1 Update Custom Object Form | Integrating With HubSpot I Practicum

    a(href="/") Return to the homepage
